/* =========================
   VARIABLES & COLORS
========================= */
:root {
    /* background colors */
    --clr-bg-main: hsl(230, 65%, 5%);
    --clr-bg-light: hsl(from var(--clr-bg-main) h s calc(l + 5));
    --clr-bg-lighter: hsl(from var(--clr-bg-main) h s calc(l + 10));
    --clr-bg-lightest: hsl(from var(--clr-bg-main) h s calc(l + 15));
    /* text colors */
    --clr-text-main: hsl(0, 0%, 100%);
    --clr-text-muted: hsl(0, 0%, 75%);
    --clr-text-success: hsl(120, 100%, 50%);
    --clr-text-error: hsl(0, 100%, 65%);
    /* brand colors */
    --clr-primary: hsl(230, 100%, 60%);
    --clr-secondary: hsl(305, 100%, 60%);

    /* components  colors */
    --clr-button: var(--clr-primary);
    --clr-button-hover: hsl(from var(--clr-button) h s calc(l + 2));
    --clr-button-press: hsl(from var(--clr-button) h s calc(l + 5));
    --clr-input-focus: hsl(from var(--clr-bg-main) h s calc(l + 25));

    /* spacing */
    --space-container-width: min(80rem, calc(100% - 2.5rem));
    --space-section-padding: 5.5rem;
    --space-hero-padding: calc(10rem + calc(5.5rem / 2)) 0 10rem;
    --space-footer-padding: 2rem 0;

    /* transition */
    --transition: 300ms ease;

    /* box shadow */
    --glow: 0 10px 30px hsl(from var(--clr-primary) h s l / 0.3);
    --glow-hover-button: 0 20px 50px hsl(from var(--clr-primary) h s l / 0.6); 
    --glow-hover-card: 0 32px 30px -10px hsl(from var(--clr-primary) h s l / 0.275);
    /* --glow-focus: 0 0 5px hsl(from var(--clr-primary) h s l / 1); */

    /* border radius */
    --br-button: 4px;
}


/* =========================
   GLOBAL & RESETS
========================= */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bg-main);
    color: var(--clr-text-main);
}

p, span, pre {
    color: var(--clr-text-muted);
}

.subheading {
    color: var(--clr-text-muted);
}

.tag {
    display: inline-block;
    color: var(--clr-primary);
    background: linear-gradient(90deg, var(--clr-primary), var(--clr-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.buttons-wrapper {
    display: flex;
    gap: 1.5rem;
}

.button {
    cursor: pointer;
    background-color: var(--clr-button);
    padding: 1rem 2rem;
    border: none;
    color: var(--clr-text-main);
    border-radius: var(--br-button);
    box-shadow: var(--glow);
    transition: var(--transition);
}

.button:not(.secondary):hover {
    transform: translateY(-4px);
    box-shadow: var(--glow-hover-button);
}

.button:active {
    background-color: var(--clr-button-press);
}

.button.secondary {
    background-color: transparent;
    border: 1px solid var(--clr-text-main);
    box-shadow: none;
}

.button.secondary:hover {
    background-color: var(--clr-text-main);
    color: var(--clr-bg-main);
    box-shadow: 0 0 50px hsl(0, 0%, 100%, 0.3);
}

a {
    text-decoration: none;
    font: var(--font-body);
    letter-spacing: var(--ls-body);
    color: var(--clr-text-muted);
}

label, input, textarea {
    display: block;
}

label {
    font: var(--font-small);
    letter-spacing: var(--ls-small);
    color: var(--clr-text-muted);
}

label .highlight {
    font: var(--font-body);
    letter-spacing: var(--ls-body);
    font-weight: 600;
    color: hsl(from var(--clr-primary) h s 68%);
}

input, textarea {
    background-color: var(--clr-bg-lightest);
    color: var(--clr-text-main);
    font: var(--font-body);
    letter-spacing: var(--ls-body);
    padding: 0.75rem 1.125rem;
    border: none;
    outline: none;
    border-radius: 4px;
}

input:focus, textarea:focus {
    background-color: var(--clr-input-focus);
}

input::placeholder, textarea::placeholder {
    color: hsl(0, 0%, 65%);
}

textarea {
    padding-bottom: 10rem;
    resize: vertical;
}

.navigation {
    height: 100%;
}

.navigation-links {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

.navigation-links li, .navigation-links li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links li a {
    transition: color var(--transition);
}

.navigation-links li a:hover {
    color: var(--clr-text-main);
}

.logo {
    height: 100%;
    font: var(--font-h3);
    color: var(--clr-text-main);
    width: fit-content;
    display: flex;
    align-items: center;
}

.container {
    height: 100%;
    width: var(--space-container-width);
}

.section {
    width: var(--space-container-width);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section:not(.header, .footer) .container {
    padding: var(--space-section-padding) 0;
}