/* =========================
   VARIABLES & COLORS
========================= */
:root {
    /* background colors */
    --clr-bg-main: hsl(230, 65%, 5%);
    --clr-bg-light: hsl(230, 65%, 10%);
    --clr-bg-lighter: hsl(230, 65%, 15%);
    --clr-bg-lightest: hsl(230, 65%, 20%);
    /* text colors */
    --clr-text-main: hsl(0, 0%, 100%);
    --clr-text-muted: hsl(0, 0%, 75%);
    --clr-text-success: hsl(120, 100%, 50%);
    --clr-text-error: hsl(0, 100%, 65%);
    /* brand colors */
    --clr-primary: hsl(230, 100%, 60%);
    --clr-secondary: hsl(305, 100%, 60%);

    /* components  colors */
    --clr-button: var(--clr-primary);
    --clr-button-hover: hsl(230, 100%, 62%);
    --clr-button-press: hsl(230, 100%, 65%);
    --clr-input-focus: hsl(230, 65%, 35%);

    /* spacing */
    --space-container-width: min(80rem, calc(100% - 2.5rem));
    --space-section-padding: 5.5rem;
    --space-hero-padding: calc(10rem + calc(5.5rem / 2)) 0 10rem;
    --space-footer-padding: 2rem 0;

    /* transition */
    --transition: 300ms ease;

    /* box shadow */
    --glow: 0 10px 30px hsla(230, 100%, 60%, 0.3);
    --glow-hover-button: 0 20px 50px hsla(230, 100%, 60%, 0.6); 
    --glow-hover-card: 0 32px 30px -10px hsla(230, 100%, 60%, 0.275);

    /* border radius */
    --br-button: 4px;
}


/* =========================================================================== 
   GLOBAL & RESETS
=========================================================================== */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

body {
    background-color: var(--clr-bg-main);
    color: var(--clr-text-main);
}

p, span, pre {
    color: var(--clr-text-muted);
}

.subheading {
    color: var(--clr-text-muted);
}

.tag {
    display: inline-block;
    color: var(--clr-primary);
    background: linear-gradient(90deg, var(--clr-primary), var(--clr-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.button {
    cursor: pointer;
    background-color: var(--clr-button);
    padding: 1rem 2rem;
    border: none;
    color: var(--clr-text-main);
    border-radius: var(--br-button);
    box-shadow: var(--glow);
    transition: var(--transition);
}

.button:not(.secondary):hover {
    transform: translateY(-4px);
    box-shadow: var(--glow-hover-button);
}

.button:active {
    background-color: var(--clr-button-press);
}

.button.secondary {
    background-color: transparent;
    border: 1px solid var(--clr-text-main);
    box-shadow: none;
}

.button.secondary:hover {
    background-color: var(--clr-text-main);
    color: var(--clr-bg-main);
    box-shadow: 0 0 50px hsl(0, 0%, 100%, 0.3);
}

a {
    text-decoration: none;
    font: var(--font-body);
    letter-spacing: var(--ls-body);
    color: var(--clr-text-muted);
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

label, input, textarea {
    display: block;
}

label {
    font: var(--font-small);
    letter-spacing: var(--ls-small);
    color: var(--clr-text-muted);
}

label .highlight {
    font: var(--font-body);
    letter-spacing: var(--ls-body);
    font-weight: 600;
    color:  hsl(230, 100%, 68%);
}

input, textarea {
    background-color: var(--clr-bg-lightest);
    color: var(--clr-text-main);
    font: var(--font-body);
    letter-spacing: var(--ls-body);
    padding: 0.75rem 1.125rem;
    border: none;
    outline: none;
    border-radius: 4px;
}

input:focus, textarea:focus {
    background-color: var(--clr-input-focus);
}

input::placeholder, textarea::placeholder {
    color: hsl(0, 0%, 65%);
}

textarea {
    padding-bottom: 10rem;
    resize: vertical;
}

.navigation {
    height: 100%;
}

.navigation-links {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

.navigation-links li, .navigation-links li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links li a {
    transition: color var(--transition);
}

.navigation-links li a:hover {
    color: var(--clr-text-main);
}

.logo {
    height: 100%;
    font: var(--font-h3);
    color: var(--clr-text-main);
    width: fit-content;
    display: flex;
    align-items: center;
}

.container {
    width: var(--space-container-width);
}

.section:not(.aside) {
    width: var(--space-container-width);
    width: 100%;
    display: flex;
    justify-content: center;
}

.section:not(.header, .footer, .hero, .aside) .container {
    padding: var(--space-section-padding) 0;
}

/* ===========================================================================
   RESPONSIVE
=========================================================================== */

/* Tablet */
@media (max-width: 1024px) {
    .section.about .container{
        flex-direction: column;
    }

    .section.contact .container{
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    .section.contact .right form {
        width: min(100%, 35rem);
        padding: 1.5rem;
        background-color: var(--clr-bg-lighter);
        border-radius: 16px;
    }
}

@media (max-width: 720px) {
    :root {
        --font-h1: normal 600 3rem/0.95 var(--ff-display);
        --font-h2: normal 700 2rem/1.2 var(--ff);
        --font-h3: normal 600 1.5rem/1.3 var(--ff);
    }
}

@media (max-width: 620px) {
    :root {
        --font-h1: normal 600 2.5rem/0.95 var(--ff-display);
        --font-h2: normal 700 2rem/1.2 var(--ff);
        --font-h3: normal 600 1.5rem/1.3 var(--ff);
    }

    .section.hero .shapes .shape-1 {
        width: 360px;   
        height: 360px;
    }

    .section.hero .shapes .shape-2 {
        width: 225px;
        height: 225px;
    }

    .section.hero .shapes .shape-3 {
        width: 150px;
        height: 150px;
    }

    .section.projects .cards {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr)) !important;
    }

    .section.contact .right form {
        padding: 1rem;
    }

    .section.footer .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1.75rem;
    }
}

@media (max-width: 380px) {
    :root {
        --ls-h1: 0.01em;
        --font-h3: normal 600 1.25rem/1.3 var(--ff);
    }

    .section.footer .content .navigation-links{
        gap: 1.25rem;
    }

    .section.aside {
        width: 100%;
    }
}

@media (max-width: 340px) {
    .section.contact .left .heading {
        margin-bottom: 3.5rem;
    }

    .section.contact .left .contact-info a {
        flex-direction: column;
    }
}


/* @media (max-width: 768px) {
    :root {
        --font-h1: normal 600 2.25rem/0.95 var(--ff-display);
        --font-h2: normal 700 2rem/1.2 var(--ff);
        --font-h3: normal 600 1.5rem/1.3 var(--ff);
    }
} */