/* ===========================================================================
   HEADER
=========================================================================== */
.section.header {
    background-color: hsla(230, 65%, 5%, 0.3);
    height: 5.5rem;
    position: fixed;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.section.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section.header .navigation-links {
    display: flex;
}

.section.header #open-menu-button {
    display: none;
}

/* ===========================================================================
   ASIDE
=========================================================================== */
.section.aside {
    display: none;
    background-color: hsla(230, 65%, 5%, 0.8);
    height: 100vh;
    width: 15rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.section.aside .navigation-links{
    height: fit-content;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 0;
}

.section.aside ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.section.aside ul li a, .section.aside ul li button {
    padding: 1rem 1.75rem;
    text-align: left;
    width: 100%;
    display: block;
}

.section.aside ul li a:hover, .section.aside ul li button:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}

/* ===========================================================================
   HERO
=========================================================================== */
.section.hero .container {
    position: relative;
    padding: var(--space-hero-padding);
    z-index: 999;
}

.section.hero h1 {
    max-width: 40rem;
    margin-bottom: 1.25rem;
}

.section.hero p.subheading {
    max-width: 30rem;
}

.section.hero h1 span.highlight {
    font: var(--font-h1);
    background: linear-gradient(90deg, hsl(305, 100%, 50%), hsl(275, 100%, 50%), hsl(230, 100%, 60%), hsl(185, 100%, 50%), hsl(305, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 100%;
    font-weight: 900;
    animation: gradient-movement 1.5s linear infinite;
}

@keyframes gradient-movement {
   0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.section.hero .subheading {
    margin-bottom: 2rem;
}

.buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.section.hero .shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-25%);
    z-index: -1;
    opacity: 0.4;
    filter: blur(30px);
}

.section.hero .shapes .shape {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 1000px;
}

.section.hero .shapes .shape-1 {
    top: 100px;
    right: 0;
    background-color: var(--clr-primary);
    background: linear-gradient(90deg, hsl(230, 100%, 55%), hsl(305, 100%, 50%));
    width: 480px;   
    height: 480px;
    animation: float 6.5s ease-in-out 0s infinite normal forwards;
}

.section.hero .shapes .shape-2 {
    bottom: 10%;
    right: 30%;
    background-color: var(--clr-secondary);
    background: linear-gradient(90deg, hsl(185, 100%, 50%), hsl(298, 100%, 50%));
    width: 300px;
    height: 300px;
    animation: float 6.5s ease-in-out 0.5s infinite normal forwards;
}

.section.hero .shapes .shape-3 {
    top: 14%;
    right: 28%;
    background-color: var(--clr-secondary);
    background: linear-gradient(90deg, hsl(230, 100%, 55%), hsl(185, 100%, 50%));
    width: 200px;
    height: 200px;
    animation: float 6.5s ease-in-out 1s infinite normal forwards;
}

@keyframes float {
    0%, 100% {
        transform: translate(0%, 0%) scale(1);
    }
    50% {
        transform: translate(-56px, -56px) scale(1.1);
    }
}

/* ===========================================================================
   ABOUT
=========================================================================== */
.section.about {
    background-color: var(--clr-bg-light);
}

.section.about .container{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.section.about .left, .section.about .right {
    flex: 1;
    min-width: 0;
}

.section.about .left .heading {
    margin-bottom: 1.5rem;
}

.section.about .left .paragraph {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section.about .right img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

/* ===========================================================================
   PROCESS
=========================================================================== */
.section.process {
    background-color: var(--clr-bg-lighter);
}

.section.process .heading {
    text-align: center;
    margin-bottom: 3.5rem;
}

.section.process .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.section.process .cards .card {
    flex: 1 1 calc(50% - 1rem);
    padding: 2.5rem;
    border-radius: 8px;
    background-color: var(--clr-bg-lightest);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    transition: var(--transition);
}

.section.process .cards .card:hover {
    transform: translateY(-4px);
    box-shadow: var(--glow-hover-card);
}

.section.process .cards .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 100px;
    background-color: var(--clr-primary);
    box-shadow: var(--glow);
}

.section.process .cards .card h3 {
    margin-bottom: 0.5rem;
}

/* ===========================================================================
   PROJECTS
=========================================================================== */
.section.projects {
    background-color: var(--clr-bg-lighter);
}

.section.projects .heading {
    text-align: center;
    margin-bottom: 3.5rem;
}

.section.projects h2 {
    margin-bottom: 0.75rem;
}

.section.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;
}

.section.projects .cards .card {
    margin: 0 auto;
    background-color: var(--clr-bg-lightest);
    border-radius: 16px;
}

.section.projects .cards .card .info {
    padding: 1.5rem;
}

.section.projects .cards .card .image img {
    max-width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
}

.section.projects .cards .card .text {
    margin-bottom: 2.5rem;
}

.section.projects .cards .card h3 {
    margin-bottom: 0.5rem;
}

.section.projects .cards .card .view-button {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font: var(--font-subheading);
    letter-spacing: var(--ls-subheading);
    transition: color var(--transition), gap var(--transition);
}

.section.projects .cards .card .view-button:hover {
    gap: 1rem;
}

.section.projects .cards .card .view-button:hover {
    color: var(--clr-text-main);
}

.section.projects .cards .card .view-button:hover svg path{
    fill: var(--clr-text-main);
}

/* ===========================================================================
   CONTACT
=========================================================================== */
.section.contact {
    background-color: var(--clr-bg-light);
}

.section.contact .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.section.contact .left{
    flex: 1;
    min-width: 0;
}

.section.contact .left .heading {
    margin-bottom: 3rem;
}

.section.contact .left h2 {
    margin-bottom: 0.75rem;
}

.section.contact .left .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section.contact .left .contact-info a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.section.contact .left .contact-info a:hover {
    color: var(--clr-text-main);
}

.section.contact .left .contact-info a:hover svg path {
    fill: var(--clr-text-main);
}

.section.contact .left .contact-info a svg {
    width: 25px;
}

.section.contact .left .contact-info a svg path{
    fill: var(--clr-text-muted);
}

.section.contact .right form {
    width: 35rem;
    padding: 1.5rem;
    background-color: var(--clr-bg-lighter);
    border-radius: 16px;
}

.section.contact .right form .fields {
    margin-bottom: 2rem;
}

.section.contact .right form .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}

.section.contact .right form input, .section.contact .right form textarea {
    width: 100%;
}

.section.contact .right form button[type="submit"] {
    width: 100%;
}

.section.contact .right form .message {
    display: none;
    background-color: var(--clr-bg-lightest);    
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 4px;
    font: var(--font-subheading);
}

.section.contact .right form .message.success {
    display: block;
    color: var(--clr-text-success);
}

.section.contact .right form .message.error {
    display: block;
    color: var(--clr-text-error);
}

/* ===========================================================================
    FOOTER
=========================================================================== */
.section.footer {
    background-color: var(--clr-bg-lighter);
}

.section.footer .container {
    padding: var(--space-footer-padding);
}

.section.footer .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;
}

.section.footer .credits {
    text-align: center;
    padding-top: 1.75rem;
    border-top: 1px solid  hsl(230, 65%, 35%);
    color: var(--clr-text-main);
}