@font-face {
    font-family: "Clash Display";
    src: url('../assets/fonts/clash-display/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../assets/fonts/clash-display/ClashDisplay-Semibold.woff') format('woff'),
         url('../assets/fonts/clash-display/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/fonts/overused-grotesk/OverusedGrotesk-VF.woff2") format("woff2"),
         url("/assets/fonts/overused-grotesk/OverusedGrotesk-VF.woff") format("woff"),
         url("/assets/fonts/overused-grotesk/OverusedGrotesk-VF.tff") format("tff");
    font-display: swap;
}

:root {
    /* font families */
    --ff-display: "Clash Display", system-ui, sans-serif, Arial; 
    --ff: "Overused Grotesk", system-ui, sans-serif, Arial;
    
    /* fonts */
    --font-h1: normal 600 3.5rem/0.95 var(--ff-display);
    --font-h2: normal 700 2.5rem/1.2 var(--ff);
    --font-h3: normal 600 1.5rem/1.3 var(--ff);
    --font-subheading: normal 400 1.125rem/1.4 var(--ff);
    --font-body: normal 400 1rem/1.6 var(--ff);
    --font-button: normal 700 1.125rem/1 var(--ff);
    --font-small: normal 400 0.875rem/1.3 var(--ff);
    --font-tag: normal 600 0.875rem/1.3 var(--ff);
    --font-highlight: normal 600 1rem/1.6 var(--ff);

    /* letter spacing */
    --ls-h1: -0.01em;
    --ls-h2: 0;
    --ls-h3: 0;
    --ls-subheading: 0.01em;
    --ls-body: 0.02em;
    --ls-button: 0.02em;
    --ls-small: 0.02em;
    --ls-tag: 0.02em;
    --ls-highlight: 0.02em;
}

h1, h2, h3, .button {
    text-transform: capitalize;
}

h1 {
    font: var(--font-h1);
    letter-spacing: var(--ls-h1);
}

h2 {
    font: var(--font-h2);
    letter-spacing: var(--ls-h2);
}

h3 {
    font: var(--font-h3);
    letter-spacing: var(--ls-h3);
}

.subheading {
    font: var(--font-subheading);
    letter-spacing: var(--ls-subheading);
}

p, span, pre {
    font: var(--font-body);
    letter-spacing: var(--ls-body);
}

.button {
    font: var(--font-button);
    letter-spacing: var(--ls-button);
}

.small {
    font: var(--font-small);
    letter-spacing: var(--ls-small);
}

.tag {
    font: var(--font-tag);
    letter-spacing: var(--ls-tag);
    text-transform: uppercase;
}

.highlight {
    font: var(--font-highlight);
    letter-spacing: var(--ls-highlight);
}